---
import { problems } from '@/assets/sample';
import RootLayout from '../../layouts/RootLayout.astro';
import { slugify } from '@/lib/utils';
import { Code } from 'astro:components';
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import ProblemPreview from '@/components/problems/ProblemPreview.vue';

export function getStaticPaths() {
  return problems.map((problem) => ({
    params: {
      slug: slugify(problem.name),
    },
  }));
}

const { slug } = Astro.params;

import samplePython from '/public/sample/bilevel.py?raw';
import sampleMatlab from '/public/sample/bilevel.m?raw';
import sampleJulia from '/public/sample/bilevel.jl?raw';
import sampleAMPL from '/public/sample/bilevel.mod?raw';
import sampleGAMS from '/public/sample/bilevel.gms?raw';

const problem = problems.find((problem) => slugify(problem.name) === slug)!;
---

<RootLayout>
  <Breadcrumb>
    <BreadcrumbList>
      <BreadcrumbItem>
        <!-- @ts-ignore -->
        <BreadcrumbLink href="/problems"> Problems </BreadcrumbLink>
      </BreadcrumbItem>
      <BreadcrumbSeparator />
      <BreadcrumbItem>
        <BreadcrumbPage>{problem.name}</BreadcrumbPage>
      </BreadcrumbItem>
    </BreadcrumbList>
  </Breadcrumb>

  <h1 class="mt-4">{problem.name}</h1>

  <div class="grid grid-cols-2 gap-4">
    <p class="mt-6 max-w-3xl leading-7">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, vitae.
    </p>

    <ProblemPreview client:load>
      <Code slot="python" code={samplePython} lang="python" class="p-5 text-xs" />
      <Code slot="matlab" code={sampleMatlab} lang="matlab" class="p-5 text-xs" />
      <Code slot="julia" code={sampleJulia} lang="julia" class="p-5 text-xs" />
      <Code slot="ampl" code={sampleAMPL} lang="text" class="p-5 text-xs" />
      <Code slot="gams" code={sampleGAMS} lang="text" class="p-5 text-xs" />
    </ProblemPreview>
  </div>
</RootLayout>
