---
import { problems } from '@/lib/data';
import RootLayout from '../../layouts/RootLayout.astro';
import { slugify } from '@/lib/utils';
import fs from 'fs';
import LaTexRenderer from '@/components/LaTexRenderer.astro';
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import ProblemPreview from '@/components/problems/preview/ProblemPreview.astro';
import CategoryTag from '@/components/CategoryTag.vue';

export function getStaticPaths() {
  return problems.map((problem) => ({
    params: {
      slug: slugify(problem.name),
    },
  }));
}

const { slug } = Astro.params;

const problem = problems.find((problem) => slugify(problem.name) === slug)!;

const latex = fs.readFileSync(`./public/problems/latex/${problem.name}.tex`, 'utf-8');
---

<RootLayout>
  <div class="flex flex-wrap items-center justify-between gap-4">
    <Breadcrumb>
      <BreadcrumbList>
        <BreadcrumbItem>
          <!-- @ts-ignore -->
          <BreadcrumbLink href="/problems"> Problems </BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>{problem.name}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>

    <CategoryTag category={problem.category} />
  </div>

  <h1 class="mt-4">{problem.name}</h1>

  <div class="grid gap-4 md:grid-cols-2">
    <div>
      <p class="mt-6 max-w-3xl leading-7">
        {problem.description}
      </p>

      <div class="mt-6">
        <LaTexRenderer tex={latex} />
      </div>

      <h2 class="mt-12 text-2xl font-bold">Solution</h2>

      <p class="mt-6 max-w-3xl leading-7">
        <!-- TODO: Format nicely -->
        {JSON.stringify(problem.solution, null, 2)}
      </p>

      {
        problem.datasets && (
          <>
            <h2 class="mt-12 text-2xl font-bold">Datasets</h2>
            <ul class="list-disc pl-6">
              {problem.datasets.map((dataset) => (
                <li>
                  <code>{dataset.name}</code>
                </li>
              ))}
            </ul>
          </>
        )
      }
    </div>

    <ProblemPreview problem={problem} />
  </div>
</RootLayout>
