---
import { problems } from '@/lib/data';
import RootLayout from '../../layouts/RootLayout.astro';
import { slugify, stringifyInlineArrays } from '@/lib/utils';
import { Code } from 'astro:components';
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import ProblemPreview from '@/components/problems/preview/ProblemPreview.astro';
import CategoryTag from '@/components/CategoryTag.vue';
import { Image } from 'astro:assets';

export function getStaticPaths() {
  return problems.map((problem) => ({
    params: {
      slug: slugify(problem.name),
    },
  }));
}

const { slug } = Astro.params;

const problem = problems.find((problem) => slugify(problem.name) === slug)!;
---

<RootLayout>
  <div class="flex flex-wrap items-center justify-between gap-4">
    <Breadcrumb>
      <BreadcrumbList>
        <BreadcrumbItem>
          <!-- @ts-ignore -->
          <BreadcrumbLink href="/problems"> Problems </BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>{problem.name}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>

    <div class="flex items-center gap-3">
      <span class="text-muted-foreground text-sm">
        Added {problem.added.toLocaleDateString('en-GB')}
      </span>
      <CategoryTag category={problem.category} subcategory={problem.subcategory} />
    </div>
  </div>

  <h1 class="mt-4">{problem.name}</h1>

  <div class="grid gap-x-16 gap-y-8 md:grid-cols-2">
    <div class="overflow-x-auto">
      <div class="mt-12">
        <a
          href={`/problems/pdf/${slugify(problem.name)}.pdf`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image
            src={`/problems/png/${slugify(problem.name)}.png`}
            alt={`Preview of ${problem.name}`}
            width={800}
            height={600}
            class="dark:invert"
          />
        </a>
      </div>

      <div class="justify-between gap-8 md:flex">
        <div class="w-full">
          <h2 class="mt-12 text-2xl font-bold">Dimension</h2>
          <Code
            class="mt-6"
            code={stringifyInlineArrays(problem.dimension, 2)}
            lang="json"
            themes={{ light: 'github-light-default', dark: 'github-dark-default' }}
            defaultColor="light"
          />
        </div>

        {
          problem.datasets.length > 0 && (
            <div class="pr-8">
              <h2 class="mt-12 text-2xl font-bold">Datasets</h2>
              <ul class="mt-6 list-disc pl-6">
                {problem.datasets.map((dataset) => (
                  <li>
                    <code>{dataset.name}</code>
                  </li>
                ))}
              </ul>
            </div>
          )
        }
      </div>

      <h2 class="mt-12 text-2xl font-bold">Solution</h2>

      <Code
        class="mt-6"
        code={stringifyInlineArrays(problem.solution, 2)}
        lang="json"
        themes={{ light: 'github-light-default', dark: 'github-dark-default' }}
        defaultColor="light"
      />
    </div>

    <div class="sticky top-20 overflow-x-auto md:max-h-[calc(100vh-10rem)]">
      <ProblemPreview problem={problem} />
    </div>
  </div>
</RootLayout>
