---
import { problems } from '../assets/sample';
import Download from '../components/Download.astro';
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
  <h1 class="text-4xl font-bold">Problems</h1>

  <p class="font-light text-lg">Our collection of bi-level problems</p>

  <div class="grid grid-cols-13 gap-4">
    <div>Problem</div>
    <div>Citation</div>
    <div>Dataset</div>
    <div>
      Upper-level variables
      <code>n</code>
    </div>
    <div>
      Lower-level variables
      <code>m</code>
    </div>
    <div>
      Upper-level constraints
      <code>p</code>
    </div>
    <div>
      Lower-level constraints
      <code>q</code>
    </div>
    <div>Python</div>
    <div>MatLab</div>
    <div>Julia</div>
    <div>AMPL</div>
    <div>GAMS</div>
    <div>PDF</div>
  </div>

  {
    problems.map((problem) => (
      <div class="grid grid-cols-13 gap-4">
        <div>{problem.name}</div>
        <div>
          {problem.citation ? (
            <a href={problem.citation.link} class="link">
              {problem.citation.authors} {problem.citation.year}
            </a>
          ) : (
            <span>-</span>
          )}
        </div>
        <div>-</div>
        <div>
          <code>{problem.upperLevelVariables}</code>
        </div>
        <div>
          <code>{problem.lowerLevelVariables}</code>
        </div>
        <div>
          <code>{problem.upperLevelConstraints}</code>
        </div>
        <div>
          <code>{problem.lowerLevelConstraints}</code>
        </div>
        <Download link="https://picsum.photos/536/354" />
        <Download link="https://picsum.photos/536/354" />
        <Download link="https://picsum.photos/536/354" />
        <Download link="https://picsum.photos/536/354" />
        <Download link="https://picsum.photos/536/354" />
        <Download link="https://picsum.photos/536/354" />
      </div>
    ))
  }
</RootLayout>
