---
import { Code } from 'astro:components';
import CopyToClipboard from './CopyToClipboard.vue';
import type { ComponentProps } from 'astro/types';
import { Download } from 'lucide-vue-next';
import { Button } from '@/components/ui/button';

type Props = ComponentProps<typeof Code> & {
  title: string;
  downloadPath?: string;
};

const { code, downloadPath, lang, title, class: className, ...other } = Astro.props;
---

<div class:list={['relative', className]}>
  <Code code={code} {...other} class="min-h-32 p-4 text-xs" />

  <!-- TODO: Improve dark mode / theme support -->
  <div class="absolute top-2 right-2 flex items-center gap-2 text-white">
    {
      downloadPath && (
        // @ts-ignore
        <Button
          as="a"
          variant="ghost"
          size="icon"
          href={downloadPath}
          download=""
          title="Download"
          data-umami-event="download-problem"
          data-umami-event-type={lang}
          data-umami-event-problem={title}
        >
          <Download class="h-4 w-4" />
        </Button>
      )
    }
    <CopyToClipboard text={code} title={title} client:load />
  </div>
</div>
